# Data Science Tools and Ecosystem

## Author

Victoria Charles

In this notebook, Data Science Tools and Ecosystem are summarized for the project.

Objectives:
    <ul>
  <li>Understand Open Source Data Tools to be used by Data Scientists.</li>
  <li>Learn the popular languages that Data Scientists use.</li>
  <li>Understand how to code mathmatical expressions in Jupyter Notebook.</li>
</ul>

Some of the popular languages that Data Scientists use are:
    <ol type="1">
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
    </ol>

Some of the commonly used libraries used by Data Scientists are:
    <ol type="1">
   <li>TensorFlow</li>
   <li>Pandas</li>
   <li>PyTorch</li>
</ol>

| Data Science Tools |
|---|
| KNIME | 
| Tableau Public |
| Apache Spark |

### Below this header are a few examples of arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers.

In [10]:
(3*4)+5

17

This operation will convert 200 minutes to hours by dividing by 60.

In [12]:
200/60

3.3333333333333335